



.meal-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}


.meal-card {
  background-color: #f8f8f8;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  height: auto;
  margin: 20px;
  position: relative;
}

.meal-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .meal-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .meal-card {
    width: calc(100% - 20px);
  }
}

.meal-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.meal-details {
  padding: 20px;
}


.ingredient-list {
  margin-top: 10px;
  padding-left: 0;
  list-style: none;
}

.ingredient-list li {
  margin-bottom: 5px;
}


.detail-button,
.like-button,
.liked-button {
  display: block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.detail-button:hover,
.like-button:hover,
.liked-button:hover {
  background-color: #0056b3;
}

.liked-button {
  background-color: #28a745;
}

.liked-button:hover {
  background-color: #218838;
}

.buttons-container {
  display: flex;
  gap: 10px;
}


.search-container {
  margin-bottom: 20px;
  text-align: center;
}

.search {
  margin-top: 100px;
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.search:focus {
  outline: none;
  border-color: #007bff;
}


.meal-card.expanded {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  z-index: 1000;
  width: 90%;
  height: auto;
  max-width: 700px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.expanded-details {
  padding: 20px;
}

.added-to-cart-message {
  display: block;
  margin-top: 10px;
  color: #28a745;
  font-weight: bold;
}
